@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --orange:#ff9500;
    --white-color:#fff;
    --black-color:#333;
    --light-color:rgba(0,0,0,.3);
}
*{
    font-family: 'Roboto',sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7.5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--white-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--black-color);
    border-radius: 5rem;
}
body{
    background: #eee;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white-color);
    border-bottom: .1rem solid var(--light-color);
    padding:1.5rem ;
}
header .logo{
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--black-color);
    font-size: 3rem;
}
header .logo span{
    color: var(--orange);
}
header form{
    display: flex;
    align-items: center;
    width: 40rem;
    border-radius: 5rem;
    height: 5rem;
    background: var(--black-color);
    overflow:hidden ;
}
header form input{
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.7rem;
    color: var(--white-color);
    padding: 0 2rem;
    text-transform: none;
}
header form label{
    font-size: 2rem;
    padding-right:2rem;
    color: var(--white-color);
    cursor: pointer;
}
header form label:hover{
    color: var(--orange);
}
header .icons div,header .icons a{
    height: 4rem;
    width: 4rem;
    font-size: 1.7rem;
    line-height: 4rem;
    background: var(--black-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: .7rem;
}
header .icons div:hover,header .icons a:hover{
    background: var(--orange);
    color: #fff;
    transform:rotate(360deg) ;
}
header.active{
position: fixed;
top: 0;left: 0;
z-index:100;
}
body{
    height: 200rem;
}


























@media(max-widh:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1.5rem;
    }
}
@media(max-widh:768px){
    header{
        flex-flow: column;
    }
    header form{
        width: 100%;
        margin:2rem 0;
    }
}
@media(max-widh:450px){
    html{
        font-size: 50%;
    }
}