/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Styling the navbar container */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
}

/* Adding a semi-transparent black background to the navbar */
#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Styling the logo within the navbar */
#logo {
    margin: 15px 33px;
    height: 62px;
    border-radius: 50%;
}

/* Styling the unordered list within the navbar */
#navbar ul {
    display: flex;
}

/* Styling list items within the navbar */
#navbar ul li {
    color: white;
    list-style: none;
    font-size: 1.1rem;
}

/* Styling links within list items */
#navbar ul li a {
    display: block;
    padding: 3px 23px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

/* Styling links within list items on hover */
#navbar ul li a:hover {
    color: black;
    background-color: white;
}
